.popover-content {
    max-width: none;
    max-height: 700px;
    overflow-y: auto;
}

.popover {
    max-width: none;
}

.hiddenImage {
    display: none;
}

.chiddenImage {
    display: none;
}

#inner-app-content {
    padding: 0;
}

#app-content, #inner-app-content, #map_view_outer_container {
    height: 100%;
}

.modal-body {
    overflow-x: auto;

}

table {
  font-family: arial, sans-serif;
  margin-right:20px;
  padding:20px;
}

input.break {
    word-wrap: break-word;
    word-break: break-all;
    height: 80px;
}

.project-description{
    width: 250px;
}
.project-category{
    width: 100px;
}
.project-estyear{
    width: 50px;
}
.project-constyear{
    width: 50px;
}
.project-estcost{
    width: 75px;
}
.project-constcost{
    width: 75px;
}

.projectc-category{
    width: 100px;
}
.projectc-estyear{
    width: 50px;
}
.projectc-constyear{
    width: 50px;
}
.projectc-estcost{
    width: 75px;
}
.projectc-constcost{
    width: 75px;
}
.projectc-facilityid{
    width: 150px;
}
.projectc-description{
    width: 250px;
}


table, td, th {

}


td {
  border: 1px solid #000000;
  padding: 8px;
  white-space: nowrap;
  text-align: center;
}
th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
  background-color:#244c96;
  color:white;
}
tr {
    text-align:center;
}
tr:nth-child(even) {background-color: #f2f2f2;}

.edit-fields {
  border:None;
  backgroundColor:transparent;
}
.cedit-fields {
  border:None;
  backgroundColor:transparent;
}

#map-popup-modal {
  width:100%;
  max-width: 100%;
}
.btn {
  margin:10px;
}

